.row
  .col-sm-10.col-sm-offset-1
    .panel.panel-primary
      .panel-heading.text-center
        %h2 About Macau-Jobs
      .panel-body
        %h3.text-center Macau-Jobs matches workers with employment agents in Macau!
        %p
          There are many companies in Macau that hire workers from
          all over SouthEast Asia. These companies use Agents to recruit
          workers. The workers find agents in many different ways. Macau-Jobs
          tries to make it easy for workers and Agents to connect, making it
          easier for workers to find jobs and making it easier for Agents to
          find workers. Macau-Jobs is owned and operated by people who first
          came to Macau the same way, so we understand what it is like and
          are here to help in every step to help you find employment in Macau.