.row
  .col-sm-10.col-sm-offset-1
    .panel.panel-primary
      .panel-heading.text-center
        %h2 FAQ
      .panel-body
        %h3 Can Macau-Jobs find a job for me?
        %p
          Any of the jobs advertised on the main page are available and looking
          for workers. Macau-Jobs will match workers to agents but it will be up
          to each agent to decide which workers they will accept. Macau-Jobs has
          no decision in which workers will actually get each job.
        %hr
        %h3 Does Macau-Jobs charge for the service?
        %p
          Each agent determines what fee they will collect from each worker placed
          with a job. Macau-Jobs does collect a portion of that from either the
          worker or the Agent. Macau-Jobs does not set the amount of the fee.
        %hr
        %h3 Can Macau-Jobs find me a job for free?
        %p
          No. We collect our fee based on the Agent's fee. Although we may collect
          the fee for the Agent, we do not control the fee and cannot decide not
          to charge the fee. We would not ask you to work for free. Please don't 
          ask us or an Agent to work for free.
        %hr
        %h3 If I get a job through Macau-Jobs and then get fired, can I get another job?
        %p
          Sure. We treat all workers the same. After you are accepted by an Agent and
          and hired, we set your account to be 'inactive' so that we do not continue
          to contact you about new jobs. If you need to find a job again, just log
          back in to the website and set your account to 'active' again. You can then
          be contacted about jobs.
        %br
          However, if you have already been placed by an Agent, the same agent may not
          want to place you again. That does not mean they will not, or that you won't
          be placed with a job by a different Agent.
        %hr
        %h3 Can I decide where I will work?
        %p
          You will be notified where the job is located before you have to pay any fees.
          You can always say "No" to any job and wait to be matched with a different one.
