.row
  .col-sm-10.col-sm-offset-1
    - if @page_title
      %h2
        = @page_title
    - @jobs.each do |job|
      -if job.open
        .panel.panel-primary
          .panel-heading
            %h4.job-title
              = link_to job.title, job
              = link_to "View Job", job, class: 'btn btn-success pull-right'
          .panel-body
            %p= job.summary
