.row
  .col-sm-10.col-sm-offset-1
    %h2.center Current Jobs Available
.row
  .col-sm-10.col-sm-offset-1
    - @jobs.each do |job|
      - if job.open
        .panel.panel-success.listing-panel
          .panel-heading
            %h4
              = job.title
              = link_to "More", job, class: 'btn btn-success btn-sm pull-right'
          .panel-body
            %p= job.summary

%br

= link_to 'New Job', new_job_path
