.row
  .col-sm-10.col-sm-offset-1
    .panel.panel-primary
      .panel-heading.text-center
        - if @page_title
          %h2
            = @page_title
      .panel-body
        = simple_format(@job.body)
      .panel-footer.text-light
        %p
          - if @job.open
            %h4 We are looking for people to fill this position!
          - else
            %h4 We're sorry, but this job has already been filled.
        - if current_user.admin
          %p
            = link_to 'Edit', edit_job_path(@job), class: 'btn btn-success'