.row
  .col-sm-8.col-sm-offset-2
    %p#notice= notice
    .panel.panel-success.job-show-panel
      .panel-body
        .well.well-sm
          .job-title
            = @job.title
        .well.well-lg
          = simple_format(@job.body)
        %p
          - if @job.open
            %h4 We are looking for people to fill this position!
          - else
            %h4 We're sorry, but this job has already been filled.
        %p
          = link_to 'Edit', edit_job_path(@job), class: 'btn btn-success'

