.row
  .col-sm-10.col-sm-offset-1
    .panel.panel-primary
      .panel-heading.agent-title
        .row
          .col-sm-6
            %h3 Available Agents
          .col-sm-6
            = link_to "Create a New Agent", new_agent_path, class: 'btn btn-success pull-right-lg'
      .panel-body
        - @agents.each do |agent|
          %h4
            = link_to agent.name, agent, class: 'agent-name'
          .row
            .col-sm-6
              %b Phone:
              = agent.phone
            .col-sm-6
              %b Email:
              = agent.email
          %hr